[Desktop Entry]
Name=I2PSnark BitTorrent Client
GenericName=BitTorrent Client
GenericName[ar]=عميل «بت تورنت»
GenericName[ast]=Cliente BitTorrent
GenericName[be]=Кліент BitTorrent
GenericName[be@latin]=Klijent BitTorrent
GenericName[bg]=BitTorrent клиент
GenericName[br]=Arval BitTorrent
GenericName[ca]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent-klient
GenericName[de]=BitTorrent-Programm
GenericName[el]=Πελάτης BitTorrent
GenericName[en_AU]=BitTorrent Client
GenericName[en_CA]=BitTorrent Client
GenericName[en_GB]=BitTorrent Client
GenericName[eo]=BitTorrent-Kliento
GenericName[es]=Cliente de BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[eu]=BitTorrent bezeroa
GenericName[fi]=BitTorrent-asiakas
GenericName[fo]=BitTorrent-viðskiftari
GenericName[fr]=Client BitTorrent
GenericName[gl]=Cliente de BitTorrent
GenericName[he]=תוכנת ביטורנט
GenericName[hr]=BitTorrent klijent
GenericName[hu]=BitTorrent kliens
GenericName[id]=Aplikasi BitTorrent
GenericName[is]=BitTorrent forrit
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[kk]=BitTorrent қолданбасы
GenericName[ko]=비트토렌트 클라이언트
GenericName[ku]=Daxwazkera BitTorrent
GenericName[li]=BitTorrent-client
GenericName[lt]=BitTorrent klientas
GenericName[lv]=BitTorrent klients
GenericName[mk]=Клиент за BitTorrent
GenericName[ms]=Klient BitTorrent
GenericName[nb]=BitTorrent-klient
GenericName[nl]=BitTorrent-client
GenericName[nn]=BitTorrent-klient
GenericName[pl]=Klient sieci BitTorrent
GenericName[pt]=Cliente de BitTorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ro]=Client BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[sk]=BitTorrent klient
GenericName[sl]=BitTorrent odjemalec
GenericName[sq]=BitTorrent Klient
GenericName[sr]=БитТорент програм
GenericName[sv]=BitTorrent-klient
GenericName[te]=బిట్ టోరెంట్ క్లైంట్
GenericName[th]=โปรแกรม BitTorrent
GenericName[tr]=BitTorrent İstemcisi
GenericName[uk]=Клієнт BitTorrent
GenericName[vi]=Trình khách BitTorrent
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_TW]=BitTorrent 用戶端
Comment=Download and share files over I2P BitTorrent
Comment[ar]=نزّل وشارك ملفات عبر «بت تورنت»
Comment[ast]=Baxar y compartir ficheros per aciu de I2P BitTorrent
Comment[be]=Запампоўка і абмен файламі ў сеткі I2P BitTorrent
Comment[be@latin]=Ściahvaj i rassyłaj fajły praz I2P BitTorrent
Comment[bg]=Изтегляне и споделяне на файлове чрез I2P BitTorrent
Comment[ca]=Baixeu i compartiu fitxers mitjançant el I2P BitTorrent
Comment[cs]=Stahovat a sdílet soubory přes I2P BitTorrent
Comment[da]=Download og del filer via I2P BitTorrent
Comment[de]=Dateien über I2P BitTorrent herunterladen und verteilen
Comment[el]=Λήψη και διαμοιρασμός των αρχείων μέσω του I2P BitTorrent
Comment[en_AU]=Download and share files over I2P BitTorrent
Comment[en_CA]=Download and share files over I2P BitTorrent
Comment[en_GB]=Download and share files over I2P BitTorrent
Comment[eo]=Elŝuti kaj kunhavigi dosierojn per I2P BitTorrent
Comment[es]=Descargue y comparta archivos mediante I2P BitTorrent
Comment[et]=Laadi alla ja levita faile I2P BitTorrenti kaudu
Comment[eu]=Deskargatu eta partekatu fitxategiak I2P BitTorrent bidez
Comment[fi]=Lataa ja jaa tiedostoja I2P BitTorrentin avulla
Comment[fr]=Reçoit et partage des fichiers via I2P BitTorrent
Comment[gl]=Descargue e comparta ficheiros a través da rede I2P BitTorrent
Comment[he]=הורדה ושיתוף קבצים ברשת ביטורנט
Comment[hr]=Preuzimajte i dijelite datoteke preko I2P BitTorrenta
Comment[hu]=Fájlok letöltése és megosztása I2P BitTorrenten keresztül
Comment[id]=Unduh dan berbagi berkas melalui I2P BitTorrent
Comment[is]=Sækja og deila skrám með I2P BitTorrent
Comment[it]=Scarica e condivide i file via I2P BitTorrent
Comment[ja]=I2P BitTorrentでファイルをダウンロードおよび共有します
Comment[kk]=I2P BitTorrent желісінде файлдарды жүктеңіз және бөлісіңіз
Comment[ko]=비트토렌트를 이용하여 파일을 다운로드 및 공유합니다
Comment[li]=Bestanje binnehoalen en deilen via I2P BitTorrent
Comment[lt]=Atsiųskite ir dalinkitės failais internetu per I2P BitTorrent
Comment[lv]=Lejupielādēt un dalīties ar failiem caur I2P BitTorrent
Comment[mk]=Преземете и споделувајте датотеки преку I2P BitTorrent
Comment[ms]=Muat turun dan kongsi fail melalui I2P BitTorrent
Comment[nb]=Last ned og del filer med I2P BitTorrent
Comment[nl]=Bestanden downloaden en delen via I2P BitTorrent
Comment[nn]=Last ned og del filer over I2P BitTorrent
Comment[pl]=Pobieranie i udostępnianie plików przez sieć I2P BitTorrent
Comment[pt]=Transfira e partilhe ficheiros através de I2P BitTorrent
Comment[pt_BR]=Baixar e compartilhar arquivos pelo I2P BitTorrent
Comment[ro]=Descarcă și partajează fișiere prin I2P BitTorrent
Comment[ru]=Загружайте и обменивайтесь файлами в сети I2P BitTorrent
Comment[sk]=Sťahujte a zdieľajte súbory cez I2P BitTorrent
Comment[sl]=Prenašaj in deli datoteke preko I2P BitTorrent
Comment[sq]=Shkarko dhe shpërnda skedarët me I2P BitTorrent
Comment[sr]=Преузимајте и размењујте датотеке преко I2P БитТорент протокола
Comment[sv]=Hämta och dela ut filer över I2P BitTorrent
Comment[te]=దిగుమతిచేయి మరియు ఫైళ్ళను బిట్ టోరెంట్ మీదుగా పంచుకో
Comment[th]=ดาวน์โหลดและแลกเปลี่ยนแฟ้มผ่าน I2P BitTorrent
Comment[tr]=Dosyaları I2P BitTorrent üzerinden indir ve paylaş
Comment[uk]=Завантажуйте та розповсюджуйте файли через I2P BitTorrent
Comment[vi]=Tải và chia sẻ tập tin qua I2P BitTorrent
Comment[zh_CN]=通过 I2P BitTorrent 下载和共享文件
Comment[zh_TW]=透過 I2P BitTorrent 協定來下載和分享檔案
Exec=i2psnark-add %u
Terminal=false
NoDisplay=true
Type=Application
MimeType=x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;X-I2P;
